@model IEnumerable<PlantNurseryManagement.Models.User>
@{
    ViewData["Title"] = "All Users";
}
<h2>All Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
        </tr>
    }
    </tbody>
</table> 